
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  
}
body{
    min-height: 100%;
    background: linear-gradient(to left, #a2c8ec,#ceb6d9,#e3abce,#f9b0c3, #fbcabb);
}



/*FLEX Y AJUSTES*/

.carrito{
    background-color:white;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-top: 0.5em;
 
}

.logo{
    width: 80px;
    height: 80px;
}
main{
    padding-top: 2em;
}


