
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  
}
body{
    min-height: 100%;
    background: linear-gradient(to left, #a2c8ec,#ceb6d9,#e3abce,#f9b0c3, #fbcabb);
}



/*FLEX Y AJUSTES*/

 img{
    width: 15vw;
    height: 30vh;
}

header img{
    width: 80px;
    height: 80px;
}
main{
    padding-top: 2em;
}



